{% extends "hostels/base.html" %} {% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Hostels</h2>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_1"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Locations</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">
                <ul class="list-menu">
                  {% for location in links %}
                  <li><a href="{{ location.get_absolute_url }}">{{ location.location_name }} </a></li>
                  {% endfor %}
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <main class="col-md-9">
        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto"> {{ hostels.count }}Hostels Available </span>
          </div>
        </header>
        <!-- sect-heading -->

        <div class="row">
          {% for hostel in hostels %}
          <div class="col-md-4">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <a href="{{ hostel.get_absolute_url }}"><img src="{{ hostel.hostel_image.url }}" /></a>
              </div>
              <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="{{ hostel.get_absolute_url }}" class="title">{{ hostel.hostel_name.title }} {{ hostels.count }}</a>
                  <div class="price-wrap mt-2">
                    <span class="price">&cent;{{ hostel.hostel_price }}</span>
                  </div>
                  <!-- price-wrap.// -->
                </div>
                <a href="{% url "wishlist:add_wishlist" hostel.id %}" class="btn btn-block btn-primary">Add to Wishlist<i class="fas fa-shopping-cart"></i></a>
              </figcaption>
            </figure>
          </div>
          <!-- col.// -->
          {% endfor %}
        </div>
        <!-- row end.// -->

        <nav class="mt-4" aria-label="Page navigation sample">
          <ul class="pagination">
              <li class="page-item {% if not hostels.has_previous %} disabled {% endif %}">
                  {% if hostels.has_previous %}
                      <a class="page-link" href="?page={{ hostels.previous_page_number }}">Previous</a>
                  {% else %}
                      <span class="page-link">Previous</span>
                  {% endif %}
              </li>
              {% for page_number in hostels.paginator.page_range %}
                  <li class="page-item {% if page_number == hostels.number %} active {% endif %}">
                      <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
              {% endfor %}
              <li class="page-item {% if not hostels.has_next %} disabled {% endif %}">
                  {% if hostels.has_next %}
                      <a class="page-link" href="?page={{ hostels.next_page_number }}">Next</a>
                  {% else %}
                      <span class="page-link">Next</span>
                  {% endif %}
              </li>
          </ul>
      </nav>
      
      </main>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
