{% extends "hostels/base.html" %}
{%  load crispy_forms_tags %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	
<!-- ============================ COMPONENT REGISTER   ================================= -->
<div class="card mx-auto" style="max-width:520px; margin-top:10px;">
      <article class="card-body">
		<h1 class="mb-4"><h4 class="card-title">Reset your password</h1>
                  <p>We've emailed you instructions for setting your password.</p>
                  <p>If you don't receive an email, please make sure you've entered the address 
                 you registered with.</p>
		</article><!-- card-body.// -->
   </div> <!-- card .// -->
<br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}