{% extends "hostels/base.html" %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	
<!-- ============================ COMPONENT REGISTER   ================================= -->
<div class="card mx-auto" style="max-width:520px; margin-top:10px;">
      <article class="card-body">
		<h1 class="mb-4"><h4 class="card-title">Password Changed</h1>
            <p>Your password has been set. You can <a href="{% url "account:login" %}">log in 
                now</a></p>
		</article><!-- card-body.// -->
   </div> <!-- card .// -->
<br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}