{% extends "hostels/base.html" %}
{% load crispy_forms_tags %}
{% block title%}Login{% endblock %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height: 84vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->
  <div class="card mx-auto" style="max-width: 380px; margin-top: 50px">
    <div class="card-body">
      <h1 class="card-title mb-4">Reset Your Password</h4>
      {% if validlink %}
      <form method="POST">
        <div class="form-group">
           {{ form|crispy }}
          <input type="hidden" name="next" value="{{ next }}" />
          <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
          {% csrf_token %}
        </div>
        <!-- form-group// -->
      </form>
      {% else %}
    <p>The password reset link was invalid, possibly because it has already 
    been used. Please request a new password reset.</p>
    {% endif %}
    </div>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->

  <p class="text-center mt-4">
    Don't have account? <a href="{% url "account:register" %}">Sign up</a>
  <span>/</span>
  Forgotten Your Password? <a href="{% url "password_reset" %}">Reset Password</a>
  </p>
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
