{% extends "hostels/base.html" %}
{% load static %}
{%  load crispy_forms_tags %}
{% block content %}
<section class="section-content padding-y bg">
<div class="container">



<!-- ============================ COMPONENT 2 ================================= -->
<div class="row">
		<main class="col-md-8">

<article class="card mb-4">
<div class="card-body">
	<header class="mb-4"><h4 class="card-title">Make Payment for {{ hostel.hostel_name }} hostel</h4></header>
	<h4>Pay this amount: &cent;{{ hostel.hostel_price }} </h4>
	<form action="." method="POST">
		<div class="row">
			{% csrf_token %}
			{{ form|crispy }}
			<input type="submit" class="btn btn-primary btn-block" value="Place booking">
		</div> <!-- row.// -->	
	</form>
</div> <!-- card-body.// -->
</article> <!-- card.// -->

</main> <!-- col.// -->
<aside class="col-md-4">
	<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
				<figure class="itemside mb-4">
					<div class="aside"><img src="{{ hostel.hostel_image.url }}" class="border img-sm"></div>
					<figcaption class="info">
						<h3>{{ hostel.hostel_name }}</h3>
						<p>{{ hostels.hostel_description }}</p>
					</figcaption>
				</figure>
			</dl>
			<dl class="dlist-align">
			  <dt>Cost:</dt>
			  <dd class="text-right text-dark b"><strong>{{ hostel.hostel_price }}</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src="./images/misc/payments.png" height="26">
			</p>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->

<!-- ============================ COMPONENT 2 END//  ================================= -->

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}